@import '~antd/dist/antd.css';
@import 'assets/iconfont/iconfont.css';
#root {
  height: 100%;
  width: 100%;
  /*min-width: 1240px;*/
  /*min-height: 800px;*/
}
.ant-layout {
  height: 100%;
}
.actionHeaders {
  height: 48px;
  line-height: 48px;
  padding: 0;
  background: #fff;
  border-bottom: 1px solid #6b6b6b;
}
.actionMenuItem {
  display: inline-block;
  width: 100px;
  text-align: center;
  line-height: 48px;
  height: 48px;
}
.sketchpadContainers {
  height: calc(100% - 5px);
  perspective: 800px;
}
.threeContainers {
  width: 1000px;
  height: 700px;
  margin: auto;
  border: 1px solid red;
}
.canvasContent {
  height: 100%;
  width: 100%;
  cursor: pointer;
}



// 新交互
.editorMainContainers {
  width: 100%;
  height: 100%;
  position: relative;
  .actionContainer {
    position: absolute;
    top: 20px;
    left: 20px;
    width: 350px;
    //height: 300px;
    z-index: 1;
  }
}

// 信息框样式
.infoWindow {
  position: absolute;
  right: 10px;
  top: 0;
}

.exportButton {
  position: absolute;
  right: 30px;
  top: 400px;
}
.uploadMap {
  position: absolute;
  right: 80px;
  top: 400px;
}


// 重构
.map-editor-containers {
  width: 100%;
  height: 100%;
  >.map-editor-menu-container {
    height: 40px;
    >.map-editor-menu {
      font-size: 20px;
      line-height: 40px;
      height: 40px;
      background: #5555;
      >.ant-dropdown-trigger {
        margin: 0 10px;
        cursor: pointer;
      }
    }
  }
  >.map-editor-content-container {
    display: flex;
    position: absolute;
    top: 40px;
    left: 0;
    right: 0;
    bottom: 0;
  }
}